/* Hero Section */
.careerBanner {
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../../public/images/career-bg.jpg');

}
.bgImage {
  position: absolute;
  inset: 0;
  object-fit: cover;
  z-index: 2;
  
}
.careerBanner::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}


.careerBanner .container {
  position: relative;
  z-index: 2;
}
.careerBanner h1 {
  color: #fff;
  font-family: "Anton", Sans-serif;
  font-size: 120px;
   z-index: 2;
  position: relative;
}

.careerBanner p {
  font-size: 18px;
  color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  text-align: center;
  font-weight: 400;
  margin:0 0 1.618em;
  letter-spacing: 0.3px;
    z-index: 2;
  position: relative;
}


/* Job Tabs Section */
 .card {
  background: #fff;
  border: unset!important;
  box-shadow: unset !important;
  border: unset !important;
  transition: transform 0.3s ease;
  
}

.jobTabs .card:hover {
  transform: translateY(-4px);
}

.jobList .listGroupItem {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 20px;
  border: 1px solid #ddd !important;
  border-radius: 12px;
  background-color: #f9f9f9;
  color: #000;
  transition: all 0.3s ease;
}


.listGroupItemActive {
  background-color: #fcd202 !important;
  color: #000;
  font-weight: bold;
  border-color: unset !important;
}

.jobList .listGroupItem:hover {
  background-color: #fcd202;
}

/* Job Detail */
.jobDetail h3 {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  margin-bottom: 0.5rem; 
}

.jobDetail p {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  color: #555;
  line-height: none !important;
    white-space: pre-line;

}

.heading{
    font-size: 46px;
  line-height: 55px;
  color: #252525;
  font-family: 'Poppins', sans-serif !important;
  text-align: center;
  font-weight: 600;
}

.borderStyles{  border: 1px solid rgba(128, 128, 128, 0.666) !important;
  border-radius: 20px;
 }

 @media (min-width: 576px) and (max-width: 767px) {
  .careerBanner h1{
    font-size: 50px;
  font-weight: 400;
  margin-top: 20%;
}
}
@media only screen and (max-width: 575px) {
   .careerBanner h1{
    font-size: 50px;
  font-weight: 400;
    margin-top: 29%;
}
.heading{
    font-size: 32px;
  font-weight: 600;
}
.careerBanner p {
  font-size: 14px;
}
.jobDetail p {
 
  font-size: 14px;
 
}
}
  
