.footer-bg{
    background-color:#fcd202 ;
}
.footer-bg::before{
    content: 'Beeyoond';
    color: #02010100;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff4b;
    stroke: #ffffff6e;
    font-size: 120px;
    font-family: "Anton", Sans-serif;
    position: absolute;
    left: 32vw;
    letter-spacing: 30px;
}
.footer-space{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.footer-icon:hover{
    color: #000000 !important;
}
.footer-icon{
        font-size: 60px;
        color: #fff;
        cursor: pointer;
}
.footer-icon-text{
    font-size: 40px;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    top: 1vh;
    cursor: pointer;
    text-decoration: none !important;
    text-align: center;
}
.footer-icon-text:hover{
    color: #000000 !important;
}
.footer-bg-two{
    background-color: #000000;
}
.footer-image-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.footer-img-set{
    width: 40% !important;
}
.footer-heading{
    font-size: 70px;
    font-family: "Anton", Sans-serif;
    color: #ffffff;
    margin: 5%;
}
.footer-heading:hover{
    color: #fcd202;
}
.footer-subhead{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    text-align: justify;
}
.footer-para{
    font-size: 15px;
    color: #ffffff65;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    line-height: 1.5;
    text-align: justify;
}
.footer-para:hover{
    color: #fcd202;
}
.copyrights{
    text-align: center;
    color: #ffffffc3;
    border-top: 1px solid #ffffff65;
}