/* loader.css */
.preloader {
    position: fixed;
    inset: 0;
    background: #000; /* Or any bg */
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('/images/curser.png'), auto !important;
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .preloader.fade-out {
    opacity: 0;
    pointer-events: none;
  }
  
  .nest-container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .loader-area {
    pointer-events: none;
    max-width: 100%;
  }
  
  .hover-hole {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 150px; /* Adjust depending on nest */
    left: 150px;
    cursor: url('/images/curser.png'), auto !important;
   
  }
  .load-head {
    color: #fcd202 !important;
    font-size: 20px !important;
    position: relative;
    bottom: 9vh;
    left: 4vw;
}
  .bee-area{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    bottom: 13vh;
    right: 1vw;
  }
  .bee-arrow{
    transform: rotate(90deg);
  }