/* components/About.module.css */
.aboutSection {
  background: #fff !important;
  border-radius: 80px 80px 0px 0px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  padding: 60px 30px;
  overflow: hidden !important;
}
.aboutBg{
  background-color: #000 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.characterImg {
  max-width: 100%;
  height: auto;
}
.aboutHeading {
  font-size: 46px;
  text-transform: uppercase;
  line-height: 55px;
  color: #252525;
  font-family: 'Anton', sans-serif !important;
}
.aboutPara {
  font-size: 16px;
  color: #5A5A5A;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  text-align: justify;
  font-weight: 300;
  margin:0 0 1.618em;
  letter-spacing: 0.3px;
}
.aboutPara a{
  color: #000;
  text-decoration: none !important;
  font-weight: 600;

}
.aboutPara a:hover {
  color: #0b37fc;
}
.aboutButton {
   font-family: 'Plus Jakarta Sans', sans-serif !important;
  font-size: 16px;
  font-weight: 600;
  gap:8px;
  text-transform: uppercase;
  line-height: 1.5;
  background-color: #fcd202;
  color: #000;
  border: none;
  border-radius: 30px 30px 30px 30px !important;
  padding: 016px 046px 016px 046px !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.3px;
  
}

.aboutButton:hover {
  background-color: #252525;
  color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  transform: translateZ(-2px);
}
.aboutButton span {
  transition: transform 0.3s ease;
  display: inline-block;
}

.aboutButtonArrow {
    position: relative;
  width: 24px;
  height: 16px;
  display: inline-block;
}
.arrowDefault,
.arrowHover {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 20px;
}

.arrowDefault {
  opacity: 1;
}

.arrowHover {
  opacity: 0;
  transform: translateX(-5px);
}

.aboutButton:hover .arrowDefault {
  opacity: 0;
}

.aboutButton:hover .arrowHover {
  opacity: 1;
  transform: translateX(5px);
}
@media  screen and (min-width: 300px) and (max-width: 450px) {
  .aboutPara{
    font-size: 13px !important;
  }
  .aboutButton {
   font-size: 13px;
   padding: 10px 27px 10px 27px !important;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   letter-spacing: 0.3px;
   
 }
 .about-space{
  text-align: center !important;
}
.aboutHeading {
  font-size: 30px !important;
  line-height: unset !important;
}
.characterImg{
  width: 80%;
}
}