.port-headone{
    text-align: left;
    font-size: 110px;
    text-transform: uppercase;
    line-height: 0.95em;
    font-family: 'Anton', sans-serif !important;
    color: #000000;
  }
  .port-headtwo{
    color: #02010100;
    font-family: "Anton", Sans-serif;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #000000;
    stroke: #000000;
    font-family: 'Anton', sans-serif !important;
    font-size: 110px;
  }
  .portfolio-btn {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
   font-size: 16px;
   font-weight: 600;
   text-transform: uppercase;
   background-color: #fcd202;
   color: #000;
   text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
   border-style: none;
   border-radius: 30px 30px 30px 30px !important;
   padding: 16px 100px 16px 100px  ;
   cursor: pointer;
   transition: all 0.5s ease; /* slower transition */
   -webkit-transition: all 0.5s ease;
   letter-spacing: 0.3px;
 }
 
 .portfolio-btn:hover {
   background-color: #252525;
   color: #ffffff;
   /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); */
   /* transform: translateY(-2px); */
   -webkit-transition: all 1s ease;
    transition: all 1s ease;
 }
 .hover-heading{
  padding: 6px 12px;
  color: #000;
  font-size: 25px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  text-align: center;
  font-family: 'Anton', sans-serif !important;
 }
 .image-col:hover .hover-heading {
  opacity: 1;
  transform: translateY(0);
}
  /* testing */
  .image-row {
    display: flex;
    gap: 15px;
    overflow: hidden;
    position: relative;
    
  }
  
  .image-col {
    flex: 1;
    overflow: hidden;
    position: relative;
    transition: flex 1s ease;
    border-radius: 20px !important;
  }
  
  .image-col img {
    width: 190%; /* double the width to allow cropping */
    object-fit: cover;
    background-size: center;
    transform: translateX(-25%); /* show center part */
    transition: transform 1s ease;
    height: 500px;
    border-radius: 20px !important;
  }
  
  /* On hover, show full image and push others */
  .image-col:hover {
    flex: 3; /* expand this column */
    z-index: 2;
  }
  
  .image-col:hover img {
    transform: translateX(0); 
    width: 100%;
    border-radius: 20px;
    
  }
  