@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
html{
    scroll-behavior: smooth;
}
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(150px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* Responsive designs */
  /* desktop view */
  @media only screen and (min-width: 1185px) and (max-width: 1300px){}
  @media only screen and (min-width: 1000px) and (max-width: 1185px){}
  /* tab view */
  @media only screen and (min-width: 795px) and (max-width: 999px){}
  @media only screen and (min-width: 600px) and (max-width: 794px){}
  /* mobile-view portrait */
  @media only screen and (min-width: 450px) and (max-width: 600px){}
  @media only screen and (min-width: 300px) and (max-width: 450px) {}