@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
html{
    scroll-behavior: smooth;
}
@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(200px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(150px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* Responsive designs */
  @media only screen and (max-width: 999px) {
    .desktop-view{
        display: none !important;
    }
}
@media only screen and (min-width: 999px){
    .mobile-view{
        display: none !important;
    }
    .desktop-view{
      display: block !important;
  }

  
}
  /* desktop view */
  @media only screen and (min-width: 999px) and (max-width:1185px){
    .banner-image-sec{
      width: 100% !important;
    }
    .desk-nav{
      font-size: 12px !important;
    }
    .contact-btn{
      padding: 8% 24% !important;
      font-size: 12px !important;
    }
    .banner-h1{
        font-size: 150px !important;
    }
    .banner-h2 {
      font-size: 150px !important;
      }
  
  
      .banner-para {
        font-size: 13px !important;
      }
      .banner-btn {
        font-size: 12px !important;
        padding: 2% 9% !important;
      }
      .portfolio-btn{
        font-size: 12px !important;
        padding: 2% 9% !important;
      }
      .footer-heading {
        margin: 10% 0% !important;
        font-size: 50px !important;
      }
      .footer-subhead {
        font-size: 18px !important;
      }
  
      .footer-para {
          font-size: 14px !important;
      }
      .footer-bg::before {
        position: absolute !important;
        left: 20vw !important;
  
    } 
  }
  /* tab view */
  @media only screen and (min-width: 796px) and (max-width: 999px){

     .mobile-view-bg{
        background-color: #ffffff !important;
       }
       .banner-h1 {
        font-size: 60px !important;
       }
       .banner-h2{
        font-size: 60px !important;
       }
       .banner-para {
      font-size: 12px !important;
      line-height: unset !important;
      padding: unset !important;
      }
      .banner-content {
        margin-top: 25% !important;
      }
      .banner-btn {
        padding: 10px 35px 10px 35px !important;
        font-size: 15px !important;
    }
    .contact-btn{
      color: #ffffff !important;
      border: 1px solid #000000 !important;
      margin: 4%;
      padding: 9px 20px !important;
      background-color: #000000 !important;
      font-size: 15px !important;
     }
     .banner-image-sec {
      width: 100% !important;
     }
     .port-headone {
      font-size: 60px !important;
     }
     .port-headtwo{
      font-size: 60px !important;
     }
     .portfolio-btn{
      padding: 11px 60px 11px 60px !important;
      font-size: 13px !important;
     }
     .image-row{
      width: 100% !important;
     }
     .image-col img{
      height: unset !important;
      border-radius: 0 !important;
     }
     .image-col{
      border-radius: 0 !important;
     }
     .hover-heading{
      font-size: 12px !important;
     }
     .testi-background {
      margin-top: 12% !important;
     }
     .icon-style-quote {
      font-size: 70px !important;
     }
  
    .start-align {
      font-size: 12px !important;
      gap: 15px !important;
    }
    .content-section p{
      font-size: 14px !important;
    }
    .thumb-img{
      width: 10% !important;
    }
    .thumbnail-section{
      font-size: 10px !important;
    }
    .carousel-indicat-des{
      display: none !important;
     }
     .career-part1{
      width: 50% !important;
     }
     .carrer-img{
      width: 100% !important;
     }
     .image-style-4{
      position: relative !important;
      top: 0vh !important;
     }
     .career-head {
      font-size: 25px !important;
      padding: 10% 0% 0% 5% !important;
     }
     .image-style-1 {
      position: relative !important;
      top: 12vh !important;
     }
     .image-style-2 {
      position: relative !important;
      top: 14vh !important;
    }
  
    .career-para {
      font-size: 12px !important;
      }
      .career-button {
        padding: 5% 13% 5% 13% !important;
        font-size: 13px !important;
    }
      .career-area-height{
        height: unset !important;
      }
  
      .footer-space {
        display: flex !important;
        justify-content: space-between !important;
        }
        .footer-icon {
          font-size: 50px !important;
        }
        .footer-icon-text {
          font-size: 20px !important;
          text-align: left !important;
          margin-left:unset !important;
        }
        .footer-area-div{
          width: 30% !important;
        }
        .footer-area-divone{
          width: 23% !important;
        }
  
        .footer-heading {
          font-size: 30px !important;
          margin: unset !important;
          }
          .footer-subhead {
            font-size: 16px !important;
          }
  
          .footer-para {
            font-size: 12px !important;
            line-height: 1 !important;
          }
          .copyrights {
            font-size: 13px !important;
          }
          .footer-pad{
            padding: 5% !important;
          }
          .footer-bg::before {
            display: none !important;
          }
          .footer-img-set {
            width: 50% !important;
        }

  }
  @media only screen and (min-width: 690px) and (max-width: 794px){
    .mobile-view-bg{
      background-color: #ffffff !important;
     }
     .banner-h1 {
      font-size: 60px !important;
     }
     .banner-h2{
      font-size: 60px !important;
     }
     .banner-para {
    font-size: 12px !important;
    line-height: unset !important;
    padding: unset !important;
    }
    .banner-content {
      margin-top: 25% !important;
    }
    .banner-btn {
      padding: 10px 35px 10px 35px !important;
      font-size: 15px !important;
  }
  .banner-image-sec{
   width: 100% !important;
  }
  .contact-btn{
    color: #ffffff !important;
    border: 1px solid #000000 !important;
    margin: 4%;
    padding: 9px 20px !important;
    background-color: #000000 !important;
    font-size: 15px !important;
   }
   .port-headone {
    font-size: 60px !important;
   }
   .port-headtwo{
    font-size: 60px !important;
   }
   .portfolio-btn{
    padding: 11px 60px 11px 60px !important;
    font-size: 13px !important;
   }
   .image-row{
    width: 100% !important;
   }
   .image-col img{
    height: unset !important;
    border-radius: 0 !important;
   }
   .image-col{
    border-radius: 0 !important;
   }
   .hover-heading{
    font-size: 12px !important;
   }
   .testi-background {
    margin-top: 12% !important;
   }
   .icon-style-quote {
    font-size: 70px !important;
   }

  .start-align {
    font-size: 12px !important;
    gap: 15px !important;
  }
  .content-section p{
    font-size: 14px !important;
  }
  .thumb-img{
    width: 10% !important;
  }
  .thumbnail-section{
    font-size: 10px !important;
  }
  .carousel-indicat-des{
    display: none !important;
   }
   .career-part1{
    width: 50% !important;
   }
   .carrer-img{
    width: 100% !important;
   }
   .image-style-4{
    position: relative !important;
    top: 0vh !important;
   }
   .career-head {
    font-size: 25px !important;
    padding: 10% 0% 0% 5% !important;
   }
   .image-style-1 {
    position: relative !important;
    top: 12vh !important;
   }
   .image-style-2 {
    position: relative !important;
    top: 14vh !important;
  }

  .career-para {
    font-size: 12px !important;
    }
    .career-button {
      padding: 5% 20% 5% 20% !important;
    }
    .career-area-height{
      height: unset !important;
    }

    .footer-space {
      display: flex !important;
      justify-content: center !important;
      }
      .footer-icon {
        font-size: 50px !important;
      }
      .footer-icon-text {
        font-size: 20px !important;
        text-align: left !important;
        margin-left:unset !important;
      }
      .footer-area-div{
        width: 30% !important;
      }
      .footer-area-divone{
        width: 23% !important;
      }

      .footer-heading {
        font-size: 30px !important;
        margin: unset !important;
        }
        .footer-subhead {
          font-size: 16px !important;
        }

        .footer-para {
          font-size: 12px !important;
          line-height: 1 !important;
        }
        .copyrights {
          font-size: 13px !important;
        }
        .footer-pad{
          padding: 5% !important;
        }
        .footer-bg::before {
          display: none !important;
        }
  }
  @media only screen and (min-width: 600px) and (max-width: 750px){
    .banner-image-sec{
      display: none !important;
    }
  }
  /* mobile-view portrait */
  @media only screen and (min-width: 450px) and (max-width: 600px){
    .carousel-indicat-des{
     display: none !important;
    }
    .career-head {
      margin-top: 10% !important;
   }
   .footer-bg::before {
    display: none !important;
}
  .mobile-view-bg{
  background-color: #ffffff !important;
 }

}
    

  @media  screen and (min-width: 300px) and (max-width: 450px) {
    
    .footer-icon-text {
      font-size: 16px !important;
      margin-left: unset !important;
      color: #fcd202 !important;
    }
    .footer-icon {
      font-size: 30px !important;
    }
    .footer-image-section {
      display: flex;
      flex-direction: row !important;
    }
    .footer-heading{
      font-size: 25px !important;
    }
    .footer-img-set {
      width: 40% !important;
      transform: translate(-20px, 0px) !important;
      }
      .footer-subhead {
        font-size: 16px !important;
        text-align: center !important;
      }
      .footer-para {
        font-size: 12px !important;
        text-align: center !important;
    }
    .copyrights {
      font-size: 10px !important;
    }
    .carrer-img{
      width: 90% !important;
    }
    .image-style-2 {
      position: relative !important;
      top: 5vh !important;
  }
    .image-style-3 {
      position: relative;
      bottom: 3vh !important;
      right: 18vw !important;
    }
    .image-section{
      height: 400px !important;
    }
    .career-head {
      font-size: 25px !important;
      padding: 0% !important;
      text-align: center !important;
      margin-top: 10% !important;
    }
    .career-para {
      font-size: 12px !important;
      padding: 2% 0% !important;
  }
  .footer-bg::before {
    display: none !important;
}

  .career-btn-area {
    text-align: center !important;
  }
  .icon-style-quote {
    font-size: 50px !important;
      }
      .start-align{
        font-size: 12px !important;
      }
      .content-section p {
        font-size: 12px !important;
        text-align: justify !important;
        padding: unset !important;
    }
    .thumb-img{
      width: 20% !important;
    }
    .thumbnail-section{
      font-size: 12px !important;
    }
    .carousel-indicat-des{
      display: none !important;
    }
    .testi-background::before{
      border-radius: unset !important;
    }
    .testi-background{
      border-radius: unset !important;
    }
    .image-row{
      display: flex !important;
      flex-direction: column !important;
      margin: auto !important;
    }

    .image-col{
      margin: auto !important;
      width: 100%;
    }
    .port-headone {
      font-size: 50px !important;
    }
    .port-headtwo {
      font-size: 50px !important;
    }
    .portfolio-btn {
      font-size: 12px !important;
      border-radius: 30px 30px 30px 30px !important;
      padding: 10px 50px 10px 50px !important;
  }
    .portfolio-sec{
      display: flex;
      justify-content: center !important;
    }
    .port-btn{
      text-align: center !important;
    }
    .image-col:hover img{
      transition: unset !important;
    }
    .aboutPara{
      font-size: 13px !important;
    }
    .about-space{
      text-align: center !important;
    }
    .banner-h1 {
      font-size: 55px !important;
    }
    .banner-h2{
      font-size: 55px !important;
    }
    .banner-para{
      font-size: 13px !important;
      padding: 0% 0% 0% 0% !important;
      line-height: unset !important;
      text-align: justify !important;
    }
    .banner-image-sec {
      display: none !important;
    }
    .banner-btn{
      padding: 10px 30px 10px 30px !important;
      font-size: 13px !important;
    }
    .banner-sec-btn{
      text-align: center !important;
    }
    .logo-image-bg{
      padding: 5% !important;
     }
     .mobile-view-bg{
      background-color: #ffffff !important;
     }
     .offcanvas-body{
      padding: 0 !important;
     }
     .contact-btn{
      color: #ffffff !important;
      border: 1px solid #000000 !important;
      margin: 4%;
      padding: 9px 20px !important;
      background-color: #000000 !important;
      font-size: 15px !important;
     }
     .footer-space{
      display: flex;
      justify-content: center !important;
     }
  }