.capaSection{
    background-color: #fff !important;
    overflow: hidden;
    animation: fadeInUp 4s ease-in-out !important;
}
.capaHeading{
    color: #252525;
    font-family: "Anton", Sans-serif;
    font-size: 120px;

}
.textOutline{
     color: #02010100;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    stroke: #000;
    font-size: 120px;
    font-family: "Anton", Sans-serif;

}
.rightContentHeading {
  font-size: 54px;
  text-transform: uppercase;
  line-height: 1.2;
  color: #252525;
  font-family: 'Anton', sans-serif !important;
}
.characterImage {
 max-width: 100%;
  height: auto;
  object-fit: contain;
  
}

.tabsContainer {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  margin-top: 1rem;
  gap: 2rem;
}

.tabButton {
  border: none;
  padding: 16px 22px;
  font-weight: 700;
  font-size:16px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  letter-spacing: 2.8px;
  font-family: 'Plus Jakarta Sans' !important;
  background-color: #ffffff !important;
}

.tabButton:hover {
  background: #252525 !important; 
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.activeTab {
  background: #fcd202 !important; 
  font-weight: 700;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.activeTab:hover{
background: #fcd202 !important; 
  font-weight: 700;
  color: #fff;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(1000px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (min-width: 795px) and (max-width: 999px){
  .capaHeading{
    font-size: 80px !important;
  }
  .textOutline{
    font-size: 80px !important;
  }
  .tabButton{
    font-size: 13px !important;
    padding: 10px 16px !important;
    letter-spacing: unset !important;
  }
  .rightContentHeading {
    font-size: 35px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 794px){
  .capaHeading{
    font-size: 80px !important;
  }
  .textOutline{
    font-size: 80px !important;
  }
  .tabButton {
    padding: 10px 16px !important;
    font-size:12px !important;
    letter-spacing: 0.8px !important;
  }
  .characterImage {
    width: 50% !important;
  }
  .rightContentHeading {
    font-size: 35px !important;
    line-height: unset !important;
  }

}
@media  screen and (min-width: 300px) and (max-width: 450px) {
  .capaHeading{
    font-size: 45px !important;
  }
  .textOutline{
    font-size: 45px !important;
  }
  .tabButton{
    padding: 2% 1% !important;
    font-size: 10px !important;
    letter-spacing: unset !important;
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
  }
  .characterImage{
    height: unset !important;
  }
  .rightContentHeading{
    font-size: 30px !important;
    text-align: center;
  }
  .about-space{
    text-align: center !important;
  }
}