
/* styles/globals.css */
.background-section {
    position: relative;
    background-image: url('/images/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  }

  .background-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000de; /* black with 50% opacity */
    z-index: 1;
  }
  
  .background-content {
    position: relative;
    z-index: 2;
  }
  .banner-h1{
    text-align: left;
    font-size: 195px;
    text-transform: uppercase;
    line-height: 0.95em;
    font-family: 'Anton', sans-serif !important;
    color: #ffffff;
  }
  .banner-h2{
    color: #02010100;
    font-family: "Anton", Sans-serif;
    -webkit-text-stroke-width: 2px;
    stroke-width: 2px;
    -webkit-text-stroke-color: #FFFFFF;
    stroke: #FFFFFF;
    font-family: 'Anton', sans-serif !important;
    font-size: 195px;
  }
.banner-image-sec{
   /* width: 600px; */
   transition: all 0.8s ease-in-out;
   position: absolute;
    /* right: 0%; */
    /* left: 1vw; */
    animation: fadeInRight 1.8s ease-in-out;

   
}
.banner-content{
    margin-top: 30% ;
    animation: fadeInLeft 1.8s ease-in-out;
}
.banner-para{
    font-size: 16px;
    color: #ffffffc4 !important;
    font-family: 'Plus Jakarta Sans' !important;
    line-height: 1.6;
    padding: 0% 13% 0% 0% ;
}
.banner-btn{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 600;
     font-size: 16px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    background-color: #f0cb11;
    border-radius: 30px 30px 30px 30px !important;
    padding: 016px 046px 016px 046px !important;
    color: #000;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    letter-spacing: 0.3px;
}

.banner-btn-arrow{
    font-size: 20px !important;
    font-weight: 600 !important;
}
.banner-btn:hover {
    background-color: #252525;
    color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
  }
  .banner-btn-arrow :hover{
    transform: rotate(45deg);
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    transform: translateY(-150px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}